.header{
  display: flex;
  background-color: lightseagreen;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px; 
}

.btn{
  border-radius: 5px;
  padding: 3px 6px;
  border: none;
  margin-right: 50px;
  cursor: pointer;


}

.h3{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 text-decoration:underline;
}